# Ignore logs
airflow-postgres-docker/logs/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc

# Ignore all files in data folders but keep directories
**/data/**/*
!**/data/
!**/data/**/
data/tmp/transformed/removed/*
!data/tmp/transformed/removed/.gitkeep
.DS_Store